<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Recommendation</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>
  </head>
  <body>
    <header class="header col-md-12">
      <div class="logo">
        <h1>Movie recommender :)!</h1>
      </div>
      <div class="menu col-md-12">
        <div class="newSearch menuElement col-md-4">
          <h3>New search</h3>
        </div>
        <div class="starred menuElement col-md-4">
          <h3>Starred</h3>
        </div>
        <div class="user menuElement col-md-4">
          <h3>Username</h3>
        </div>
      </div>
    </header>




  </body>
</html>
