<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Recommendation</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>
  <body>

    <!-- Form Name -->
              <legend>Add New Movie</legend>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Title</label>
                <div class="col-md-4">
                <input id="title" name="name" type="text" placeholder="" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="artistName">Year</label>
                <div class="col-md-4">
                <input id="releaseYear" name="artistName" type="text" placeholder="" class="form-control input-md">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="releaseDate">Length</label>
                <div class="col-md-4">
                <input id="movieLength" name="releaseDate" type="text" placeholder="1992" class="form-control input-md">

                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton">Save Album</label>
                <div class="col-md-4">
                  <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        </div>
      </section>

       <!--   END FORM SAMPLE -->



        <section class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h2>Movies</h2>
            </div>
          </div>
          <!-- albums! -->
          <div id='movies'>
            <script id='movie-template' type='text/x-handlebars-template'>
              <!-- one album -->
              <div class="row movie">

                <div class="col-md-10 col-md-offset-1">
                  <div class="panel panel-default">
                    <div class="panel-body">


                    <!-- begin album internal row -->
                      <div class='row'>

                        <div class="col-md-9 col-xs-12">
                          <ul class="list-group">
                            <li class="list-group-item">
                              <h4 class='inline-header'>Title:</h4>
                              <span class='album-name'>{{Title}}</span>
                            </li>

                            <li class="list-group-item">
                              <h4 class='inline-header'>Year:</h4>
                              <span class='artist-name'>{{Year}}</span>
                            </li>

                            <li class="list-group-item">
                              <h4 class='inline-header'>Runtime:</h4>
                              <span class='album-releaseDate'>{{Runtime}}</span>
                            </li>
                          </ul>
                        </div>

                      </div>
                      <!-- end of album internal row -->

                      <div class='panel-footer'>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- end one album -->
            </script>

          </div>
        </section>



  </body>
</html>
