.header {
  background-color: blue;
  height: auto;
  position: fixed;
  z-index: 10;
  top: 0px;
}
.logo {
  margin: auto;
  background-color: yellow;
  height: 50px;
  width: 500px;
  text-align: center;
}
.menu {
  height: 60px;
  background-color: green;
}
.menuElement {
  text-align: center;
}
.tester {
  height: 2000px;
  background-color: black;
}
