.header {
  background-color: blue;
  height: auto;
}
.logo {
  margin: auto;
  background-color: yellow;
  height: 50px;
  width: 500px;
  text-align: center;
}
.menu {
  height: 60px;
  background-color: green;
}

.menuElement {
  text-align: center;
}
